<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
     <!--<meta name="google-site-verification" content="dmleELND2Vvfac0RTQYp3S8Q7kjsPmeLJcBLQrINxVM" />-->
     <meta name="robots" content="index,follow"/> 
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" sizes="48x48" href="/logo.png">
    <meta name="theme-color" content="#f60">
    <title>Jose</title>
    <!--<link rel="manifest" href="/manifest.json">-->
    <link rel="canonical" href="https://josephine.leanapp.cn"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <!-- APP -->
  </body>
</html>
